<nav class="navbar navbar-expand-lg bg-body-tertiary section-bg">
  <div class="container-fluid">
    <a class="navbar-brand logo-header" href="index.html">WH</a>

    <div class="nav-buttons">
      <a class="btn btn-primary me-2" href="index.html">Home</a>
      <a class="btn btn-outline-secondary me-2" href="ServeIT.html">Serve IT</a>
      <a class="btn btn-outline-secondary me-2" href="Projects.html">Projects</a>
      <a class="btn btn-outline-secondary" href="Games.html">Games</a>
    </div>
  </div>
</nav>